@page
@model IndexModel
@{
	ViewData["Title"] = "Tax Appeal";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<form method="post">
		<label asp-for="StreetAddress">Enter the first line of your street address:</label>
		<input asp-for="StreetAddress" />
		<input type="submit" />
	</form>
</div>
