@page
@model TaxAppeal.Pages.StepTwoModel
@{
}
<h1>Is this your address?</h1>
<h2>@Model.StreetAddress<br />@Model.City, IL @Model.ZipCode</h2>
<form>
	<button><< No</button><button>Yes >></button>
</form>