@page
@model TaxAppeal.Pages.StepTwoModel
@{
}
<h1>Enter your details</h1>

<form method="post">
	<input class="fidle" asp-for="Name" autocomplete="off" placeholder="Your full name" />
	<br />
	<input class="fidle" asp-for="Email" autocomplete="off" placeholder="Email address" />
	<br />
	<input class="fidle" asp-for="Phone" autocomplete="off" placeholder="Phone number" />
	<br />
	<label asp-for="StreetAddress">Enter the first line of your street address:</label>
	<input class="fidle" asp-for="StreetAddress" autocomplete="off" placeholder="e.g. 4128 N Tripp Ave" />
	<br />
	<input class="fidle" asp-for="City" autocomplete="off" placeholder="City" />
	<br />
	<input class="fidle" asp-for="ZipCode" autocomplete="off" placeholder="Zip code" />
	<br />
	<button asp-page-handler="Cancel">← Back</button> <button class="PrimaryButton" asp-page-handler="Confirm">Next →</button>
</form>