html
{
	font-size: 20px;
}

h1
{
	ftext-transform: uppercase;
	font-size: 3rem;
}

@media (min-width: 768px)
{
	html
	{
		font-size: 16px;
	}
}

#Suggestions
{
	padding: 0;
	margin: 0;
	fline-height: 1.5rem;
}

	#Suggestions li
	{
		list-style: none;
		line-height: 1.5rem;
		height: 2.5rem;
		white-space: nowrap;
		ftext-overflow: ellipsis;
		foverflow: hidden;
		fmax-width: 30rem;
		width: 19rem;
	}


		#Suggestions li span
		{
			position: relative;
			top: -0.6rem;
			background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 -6.5 38 38' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eright-arrow%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='icons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='ui-gambling-website-lined-icnos-casinoshunter' transform='translate(-1511.000000, -158.000000)' fill='%230d6efd' fill-rule='nonzero'%3E%3Cg id='1' transform='translate(1350.000000, 120.000000)'%3E%3Cpath d='M187.812138,38.5802109 L198.325224,49.0042713 L198.41312,49.0858421 C198.764883,49.4346574 198.96954,49.8946897 199,50.4382227 L198.998248,50.6209428 C198.97273,51.0514917 198.80819,51.4628128 198.48394,51.8313977 L198.36126,51.9580208 L187.812138,62.4197891 C187.031988,63.1934036 185.770571,63.1934036 184.990421,62.4197891 C184.205605,61.6415481 184.205605,60.3762573 184.990358,59.5980789 L192.274264,52.3739093 L162.99947,52.3746291 C161.897068,52.3746291 161,51.4850764 161,50.3835318 C161,49.2819872 161.897068,48.3924345 162.999445,48.3924345 L192.039203,48.3917152 L184.990421,41.4019837 C184.205605,40.6237427 184.205605,39.3584519 184.990421,38.5802109 C185.770571,37.8065964 187.031988,37.8065964 187.812138,38.5802109 Z' id='right-arrow'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: .4rem 1.0rem; /* Adjust this to move the icon */
			background-size: 1rem; /* Size of the icon */
			min-width: 2rem;
			height: 2rem;
			width: 2rem;
			color: #fff;
			display: inline-block;
		}

		#Suggestions li a
		{
			color: #69b;
			text-decoration: none;
			text-overflow: ellipsis;
			white-space: nowrap;
			height: 2rem;
			max-width: 19rem;
			fwidth: 3rem;
			overflow: hidden;
			display: inline-block;
		}

		#Suggestions li a:hover
		{
			color: #479;
		}

	#Suggestions li
	{
		padding-bottom: .5rem;
		fpadding-top: .5rem;
	}

		#Suggestions li:last-child
		{
			padding-bottom: 2rem;
		}

		#Suggestions li:not(:last-child)
		{
			border-bottom: 1px solid #bbd;
			padding-bottom: 2.5rem;
		}

		#Suggestions li:not(:first-child)
		{
			padding-bottomf: 2rem;
			padding-top: .8rem;
		}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus
{
	fbox-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html
{
	position: relative;
	min-height: 100%;
}

body
{
	margin-bottom: 60px;
	color: #000;
	background-color: white;
}

header
{
	background-color: #fff;
	color: #000;
	border-bottom: solid 1px #eee;
}

.DataHere
{
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-bottom: none !important;
}

	.DataHere:focus
	{
	}

h1
{
	margin-top: 1rem;
}

#sug
{
	padding: 0rem 3.6rem .5rem;
	font-size: 1.5rem !important;
	border-radius: .75rem;
	width: 25rem;
	font-weight: bold;
	border-style: solid;
	border-width: 0.3rem;
	border-color: lightblue;
	background: #fff;
	color: #000;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
	visibility: hidden;
	text-align: left;
	display: inline-block;
	margin-top: -1px;
}

#StreetAddress:focus, #StreetAddress:focus + div#sug
{
	border-color: #8bd;
}

.searching
{
	background-image: url("data:image/svg+xml,%3Csvg fill='%23bbb' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle class='spinner_I8Q1' cx='4' cy='12' r='1.5'/%3E%3Ccircle class='spinner_I8Q1 spinner_vrS7' cx='12' cy='12' r='3'/%3E%3Ccircle class='spinner_I8Q1' cx='20' cy='12' r='1.5'/%3E%3Cstyle%3E.spinner_I8Q1%7Banimation:spinner_qhi1 .75s linear infinite%7D.spinner_vrS7%7Banimation-delay:-.375s%7D@keyframes spinner_qhi1%7B0%25,100%25%7Br:1.5px%7D50%25%7Br:3px%7D%7D%3C/style%3E%3C/svg%3E");
	fbackground-image: url("data:image/svg+xml,%0A%3Csvg fill='%23bbb' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_I8Q1%7Banimation:spinner_qhi1 .75s linear infinite%7D.spinner_vrS7%7Banimation-delay:-.375s%7D@keyframes spinner_qhi1%7B0%25,100%25%7Br:1.5px%7D50%25%7Br:3px%7D%7D%3C/style%3E%3Ccircle class='spinner_I8Q1' cx='4' cy='12' r='1.5'/%3E%3Ccircle class='spinner_I8Q1 spinner_vrS7' cx='12' cy='12' r='3'/%3E%3Ccircle class='spinner_I8Q1' cx='20' cy='12' r='1.5'/%3E%3C/svg%3E");
}

.idle
{
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 468.382 468.382' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath style='fill:%23bbb;' d='M268.711,35.498c-17.826-17.818-45.967-18.72-65.102-3.13c-1.284,1.04-2.626,1.943-3.82,3.13 L7.142,228.153c-9.527,9.519-9.519,24.963,0,34.481c1.187,1.187,2.479,2.235,3.829,3.129c4.056,2.682,8.738,4.016,13.42,4.016 s9.364-1.341,13.42-4.016c1.349-0.894,1.618-1.935,2.804-3.129l14.883-15.899v111.361c0,49.088,45.422,88.927,96.763,88.927 h171.667c50.316,0,89.219-39.001,89.219-88.927V250.88l12.778,11.762c4.755,4.763,11.51,7.145,17.753,7.145 c6.243,0,12.737-2.382,17.493-7.145c9.527-9.519,9.657-24.963,0.13-34.481L268.711,35.498z M364.377,358.104 c0,23.036-17.021,40.155-40.448,40.155H152.253c-24.483,0-47.991-17.899-47.991-40.155V197.972L232.255,69.987l132.122,132.13 V358.104z'/%3E%3Cpath style='fill:%23bbb;' d='M189.076,238.704c0,12.445,3.211,24.142,8.828,34.343c-0.585,0.471-1.195,0.894-1.731,1.439 l-61.192,62.306c-7.86,8.007-7.747,20.874,0.26,28.743c3.959,3.885,9.104,5.82,14.241,5.82c5.259,0,10.518-2.032,14.501-6.08 l61.192-62.306c0.463-0.48,0.813-1.016,1.219-1.528c10.144,5.536,21.768,8.689,34.116,8.689c39.383,0,71.426-32.043,71.426-71.434 c0-39.383-32.043-71.426-71.426-71.426C221.11,167.278,189.076,199.313,189.076,238.704z M260.502,191.664 c25.938,0,47.04,21.102,47.04,47.04s-21.102,47.048-47.04,47.048c-25.938,0-47.048-21.102-47.048-47.048 C213.461,212.766,234.563,191.664,260.502,191.664z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* Extra small devices (phones, less than 576px), screen-only */
@media screen and (max-width: 575.98px)
{
	/* Insert CSS rules here */
}

/* Small devices (landscape phones, 576px and up), screen-only */
@media screen and (min-width: 576px)
{
	/* Insert CSS rules here */
}







/* Extra extra large devices (extra large desktops, 1400px and up), screen-only */
@media screen and (min-width: 1400px)
{
	/* Insert CSS rules here */
}

input:-webkit-autofill,
input:autofill
{
	border: 3px solid blue !important;
	background-color: #fff;
	f-webkit-text-fill-color: #707173 !important;
	-webkit-box-shadow: 0 0 0px 100px #fff inset !important;
	transition: background-color 5000s ease-in-out 0s !important;
}

.input-wrapper
{
	position: relative;
}

	.input-wrapper input
	{
		fborder: 1px solid gray;
		fborder-radius: 6px;
		position: relative;
		width: 200px;
		fmargin: 10px;
		fline-height: 6ex;
	}

	.input-wrapper label
	{
		transition: opacity 0.2s ease;
		opacity: 0;
	}

input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="tel"]::placeholder
{
	transition: opacity 0.2s ease;
}

input[type="text"]:focus::placeholder, input[type="email"]:focus::placeholder, input[type="tel"]:focus::placeholder
{
	opacity: 0;
}

.input-wrapper:focus-within label
{
	fvisibility: visible;
	opacity: 1;
}

.input-wrapper label
{
	fvisibility: hidden;
	position: absolute;
	top: -0.7rem;
	font-size: 1rem;
	z-index: 1;
	left: 2rem;
	background-color: white;
	padding: 0 2px;
	color: black;
	color: #bbb;
}

.gridwrap
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 30rem;
	gap: 0 2rem;
}


.hero-image
{
	fpadding-left: 2rem;
	fmargin-top: -2rem;
	overflow: hidden;
	flex: 1;
	background: url('/hero1.jpeg') left 20% / cover no-repeat;
	background: radial-gradient(circle, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.3) 100%), url('/hero1.png');
	background: url('/hero1.png');
	background-size: cover;
	background-position: left top;
	background-repeat: no-repeat;
}

.herob
{
	background: url('/hero2.png');
	background-position: right top;
	background-repeat: no-repeat;
}

input[type=text].AddressFinder
{
	fmargin: auto;
	padding: 1rem 3.6rem;
}

.stategrid
{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

select.statedrop
{
	width: min-content;
	margin-left: 0.5rem;
}

input[type=text], input[type=email], input[type=tel], select
{
	fmargin: auto;
	display: block;
	outline: none;
	fpadding: calc((3rem - (1rem * 1.5) - (0.125rem * 2)) / 2) calc(1rem * 1.5);
	padding: 0.5rem 1rem;
	font-size: 1.5rem !important;
	border-radius: .75rem;
	width: 25rem;
	font-weight: bold;
	border-style: solid;
	border-width: 0.3rem;
	border-color: lightblue;
	background-repeat: no-repeat;
	background-position: .9rem 1.2rem; /* Adjust this to move the icon */
	background-size: 2rem; /* Size of the icon */
}



	input[type=text]::placeholder, input[type=email]::placeholder, input[type=tel]::placeholder
	{ /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #bbb;
	}

input.zipcodebox
{
	width: 7rem;
}

.button
{
	transition: all ease 0.1s;
	border: 0.3rem solid #000;
}

.primary-button
{
	background: lightblue;
	font-weight: bold;
	color: black;
	border-color: lightblue;
}

	.primary-button:hover
	{
		background: #fff;
	}

	.primary-button::after
	{
		content: "→";
	}

	.primary-button:hover::after
	{
		content: "⇒";
	}

.secondary-button
{
	font-weight: normal;
	border-color: #eee;
	color: #777;
	background: #eee;
}

	.secondary-button:hover
	{
		border-color: #eee;
		background-color: #fff;
	}

	.secondary-button::before
	{
		content: "←";
	}

	.secondary-button:hover::before
	{
		content: "⇐";
	}

.twobuttons
{
	display: flex;
	justify-content: space-between;
}

/* Container for each radio button */
.chunky-radio
{
	display: flex;
	flex-direction: column; /* Changed from row to column */
	align-items: flex-start; /* Align items to the start of the container */
	padding-bottom: 0.5rem;
	border-radius: 0.5rem;
	transition: background-color 0.2s;
	position: relative;
}

	/* Style for the actual radio input */
	.chunky-radio input[type="radio"]
	{
		margin-right: 1rem;
		position: absolute;
		left: 1rem;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		opacity: 1;
	}

	/* Style for the label */
	.chunky-radio label
	{
		background-color: #fcfcfc;
		padding: 1rem 1.0rem 1rem 2.5rem;
		border-radius: 0.5rem;
		border: solid 1px #ddd;
		width: 100%;
		transition: background-color 0.2s;
		cursor: pointer; /* Moved here */
	}

	/* Change background color when radio is checked */
	.chunky-radio input[type="radio"]:checked + label
	{
		background-color: lightblue;
	}

	/* Change background color when radio is checked */
	.chunky-radio input[type="radio"]:checked:hover + label
	{
		background-color: lightblue;
	}

	/* Change background color when radio is checked */
	.chunky-radio input[type="radio"]:hover + label
	{
		background-color: #f3f9ff;
	}


.chunky-radio
{
	flex-direction: column; /* Change the flex direction to column */
}

/* ... existing styles ... */

/* Style for the label with the other textbox */
.other-label
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* When radio is checked, display the textbox */
#optionOther:checked ~ label .other-textbox
{
	display: block;
}

/* Default hide the other textbox */
.other-textbox
{
	display: none;
	width: 100%;
	margin-top: 0.5rem;
}



.chunky-radio input[type="radio"]:not(:checked) + .other-label::before
{
	content: "Other";
}

/* Hide text when checked */
.chunky-radio input[type="radio"]:checked + .other-label::before
{
	content: "Other, please explain:";
}





/* Medium devices (tablets, 768px and up), screen-only */
@media screen and (min-width: 768px)
{
	#StreetAddress, #Name
	{
		width: 35rem;
	}

	#sug
	{
		width: 35rem;
	}

	#Suggestions li
	{
		width: 28rem;
	}

		#Suggestions li a
		{
			max-width: 29rem;
		}
}

/* Large devices (desktops, 992px and up), screen-only */
@media screen and (min-width: 992px)
{
}

/* Extra large devices (large desktops, 1200px and up), screen-only */
@media screen and (min-width: 1200px)
{
	/* Insert CSS rules here */
}

.navbar-brand, h1
{
	font-weight: bold;
	font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}



label, input[type=button], input[type=submit], button
{
	font-weight: bold;
	font-size: 1.5rem;
}

input[type=button], input[type=submit], button
{
	border-radius: .75rem;
	padding: 0.5rem 1.5rem;
}





header a, .nav-link
{
	color: #000;
}


	header a:visited, .nav-link:visited
	{
		color: #000;
	}

	header a:hover, .nav-link:hover
	{
		color: #ccc;
	}

header svg
{
	margin-right: .2rem;
	margin-top: -.4rem;
}
